.desktop-5 .d-34712-bcea-33837239-b-8-b-360071 {
  background: url('./assets/images/d_34712_bcea_33837239_b_8_b_360071.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -3px;
  top: -7px;
  width: 1445px;
  height: 1031px;
}
.desktop-5 .pengelolaan-sampah-dengan-konsep-3-rpengelolaan-sampah-3-rsecara-umum-adalah-upaya-pengurangan-pembuangan-sampah-melalui-program-menggunakan-kembali-reuse-mengurangi-reduce-dan-mendaur-ulang-recycle {
  position: absolute;
  top: 31px;
  right: -20.8px;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.desktop-5 .vector {
  width: 72.8px;
  height: 51.9px;
}
.desktop-5 .arrow-left-alt {
  background: #E3B748;
  display: flex;
  padding: 30px 18.7px;
  width: 112px;
  height: 112px;
  box-sizing: border-box;
}
.desktop-5 .vector-1 {
  transform: rotate(-178.264deg);
  width: 72.9px;
  height: 76.9px;
}
.desktop-5 .container-1 {
  border: 1px solid #000000;
  background: #C3B5B5;
  position: relative;
  display: flex;
  padding: 13.1px 0 22px 1.2px;
  width: 122px;
  height: 112px;
  box-sizing: border-box;
}
.desktop-5 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1002px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .frame-3 {
  background: #F2EECB;
  position: relative;
  display: flex;
  padding: 612px 97px 44px 87px;
  width: 1186px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .frame-2 {
  background: #E3B748;
  position: relative;
  display: flex;
  padding: 45px 40px 46px 41px;
  width: 1267px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-5 .vector-2 {
  width: 83.3px;
  height: 58.8px;
}
.desktop-5 .frame-7 {
  border: 1px solid #000000;
  background: #E3B748;
  position: absolute;
  left: 16px;
  top: 10px;
  display: flex;
  padding: 18.4px 7.3px 12.8px 7.3px;
  width: 100px;
  height: 92px;
  box-sizing: border-box;
}
.desktop-5 {
  background: #FFFFFF;
  display: flex;
  padding: 71px 83px 94px 90px;
  width: 1440px;
  box-sizing: border-box;
}
