.desktop-9 .istockphoto-1344557911612-x-6121 {
  background: url('./assets/images/istockphoto_1344557911612_x_6121.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 3px;
  translate: -50% 0;
  width: 1440px;
  height: 1021px;
}
.desktop-9 .pukul-sampah-itu {
  margin: 0 0 14px 46px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.desktop-9 .score-0 {
  margin: 0 0 272px 34px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.desktop-9 .pngtree-aleaf-png-image-7483662-removebg-preview-2 {
  background: url('./assets/images/pngtree_aleaf_png_image_7483662_removebg_preview_2.png') 50% / cover no-repeat;
  margin: 43px 142px 0 0;
  width: 136px;
  height: 118px;
}
.desktop-9 .pngtree-yellow-twig-decoration-illustration-image-1385276-removebg-preview-2 {
  background: url('./assets/images/pngtree_yellow_twig_decoration_illustration_image_1385276_removebg_preview_2.png') 50% / cover no-repeat;
  margin: 14px 92px 0 0;
  width: 151px;
  height: 147px;
}
.desktop-9 .e-52-ebf-2-d-9-eeeae-853586526300455-removebg-preview-2 {
  background: url('./assets/images/e_52_ebf_2_d_9_eeeae_853586526300455_removebg_preview_2.png') 50% / cover no-repeat;
  margin-right: 155px;
  width: 163px;
  height: 161px;
}
.desktop-9 .png-transparent-tomato-tomato-fresh-fruits-removebg-preview-2 {
  background: url('./assets/images/png_transparent_tomato_tomato_fresh_fruits_removebg_preview_2.png') 50% / cover no-repeat;
  margin: 29px 0 14px 0;
  width: 134px;
  height: 118px;
}
.desktop-9 .container-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 973px;
  box-sizing: border-box;
}
.desktop-9 .pngtree-organic-garbage-box-mockup-picture-image-77465332 {
  background: url('./assets/images/pngtree_organic_garbage_box_mockup_picture_image_77465331.png') 50% / cover no-repeat;
  align-self: flex-start;
  width: 348px;
  height: 344px;
}
.desktop-9 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1082px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-9 .pngtree-organic-garbage-box-mockup-picture-image-7746533-removebg-preview-2 {
  background: url('./assets/images/pngtree_organic_garbage_box_mockup_picture_image_7746533_removebg_preview_4.png') 50% / cover no-repeat;
  position: absolute;
  left: 371px;
  bottom: 105px;
  width: 372px;
  height: 280px;
}
.desktop-9 .pngtree-organic-garbage-box-mockup-picture-image-7746533-removebg-preview-3 {
  background: url('./assets/images/pngtree_organic_garbage_box_mockup_picture_image_7746533_removebg_preview_4.png') 50% / cover no-repeat;
  position: absolute;
  right: 404px;
  bottom: 105px;
  width: 372px;
  height: 280px;
}
.desktop-9 .pngtree-organic-garbage-box-mockup-picture-image-7746533-removebg-preview-4 {
  background: url('./assets/images/pngtree_organic_garbage_box_mockup_picture_image_7746533_removebg_preview_4.png') 50% / cover no-repeat;
  position: absolute;
  right: 113px;
  bottom: 105px;
  width: 372px;
  height: 280px;
}
.desktop-9 .frame-14 {
  background: #FFFFFF;
  position: relative;
  padding: 31px 126px 80px 126px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-9 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
