.desktop-7 .cf-39-c-06-f-23-d-253775551-d-7-d-2-d-93-c-8-a-21 {
  background: url('./assets/images/cf_39_c_06_f_23_d_253775551_d_7_d_2_d_93_c_8_a_21.jpeg') 50% / cover no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.desktop-7 .ellipse-1 {
  position: absolute;
  top: 133px;
  right: 399px;
  width: 303px;
  height: 186px;
}
.desktop-7 .vector {
  width: 83.3px;
  height: 58.8px;
}
.desktop-7 .frame-5 {
  border: 1px solid #000000;
  background: #E3B748;
  position: relative;
  margin-bottom: 82px;
  display: flex;
  align-self: flex-start;
  padding: 18.4px 7.3px 12.8px 7.3px;
  width: 100px;
  height: 92px;
  box-sizing: border-box;
}
.desktop-7 .silahkan-dipilih {
  position: relative;
  margin: 10 12 68px 390px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.desktop-7 .pilah {
  margin: 0 10.3px 2px 11.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #FFF6F6;
}
.desktop-7 .sampah {
  margin-left: 40px;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #F9F2F2;
}
.desktop-7 .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.desktop-7 .organik {
  position: absolute;
  left: 25px;
  bottom: 60px;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #FFFDFD;
}
.desktop-7 .frame-8 {
  border: 1px solid #000000;
  background: #E3B748;
  position: relative;
  margin: 82px 0 401px 0;
  display: flex;
  padding: 9px 29.7px 0 0;
  width: 222px;
  height: 222px;
  box-sizing: border-box;
}
.desktop-7 .pilah-1 {
  margin-left: 40px;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #FFF6F6;
}
.desktop-7 .sampah-1 {
  position: absolute;
  left: 25px;
  top: 63px;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #F9F2F2;
}
.desktop-7 .anorganik {
  position: absolute;
  left: 0px;
  bottom: 60px;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 40px;
  color: #FFFDFD;
}
.desktop-7 .frame-9 {
  border: 1px solid #000000;
  background: #E3B748;
  position: relative;
  margin: 82px 0 401px 0;
  display: flex;
  padding: 14px 35px 0 0;
  width: 222px;
  height: 222px;
  box-sizing: border-box;
}
.desktop-7 .container-1 {
  width: 47px;
  height: 39px;
}
.desktop-7 .container-4 {
  display: flex;
  width: 47px;
  height: 39px;
  box-sizing: border-box;
}
.desktop-7 .container {
  background: url('../assets/images/pngtree_anime_chibi_character_full_body_blue_tshirt_png_image_2218229_removebg_preview_1.png') 50% / cover no-repeat;
  position: relative;
  display: flex;
  padding: 15px 377px 0 0;
  width: 642px;
  height: 705px;
  box-sizing: border-box;
}
.desktop-7 .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  column-gap: 85px;
  width: 1256px;
  box-sizing: border-box;
}
.desktop-7 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 26px 0 0 27px;
  width: 1440px;
  box-sizing: border-box;
}
