.desktop-4 .d-34712-bcea-33837239-b-8-b-360071 {
  background: url('./assets/images/d_34712_bcea_33837239_b_8_b_360071.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -3px;
  top: -7px;
  width: 1445px;
  height: 1031px;
}
.desktop-4 .jenis-jenis-sampah-sampah-anorganik-adalah-sampah-yang-dihasilkan-dari-bahan-bahan-non-hayati-contoh-sampah-non-organik-sampah-logam-dan-produk-produk-olahannya-sampah-plastik-sampah-kertas-sampah-kaca-dan-keramik-sampah-detergen {
  margin-bottom: 32px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.desktop-4 .vector {
  width: 72.8px;
  height: 51.9px;
}
.desktop-4 .arrow-left-alt {
  background: #E3B748;
  display: flex;
  padding: 30px 18.7px;
  width: 112px;
  height: 112px;
  box-sizing: border-box;
}
.desktop-4 .vector-1 {
  transform: rotate(-178.264deg);
  width: 72.9px;
  height: 76.9px;
}
.desktop-4 .container-1 {
  border: 1px solid #000000;
  background: #E3B748;
  position: relative;
  display: flex;
  padding: 13.1px 0 22px 1.2px;
  width: 122px;
  height: 112px;
  box-sizing: border-box;
}
.desktop-4 .container {
  margin: 0 56.2px 0 82px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1002px;
  box-sizing: border-box;
}
.desktop-4 .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-4 .pngtree-garbage-sortir-illustration-png-image-4016541-removebg-preview-1 {
  background: url('./assets/images/pngtree_garbage_sortir_illustration_png_image_4016541_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  right: 458px;
  bottom: 10px;
  width: 232px;
  height: 336px;
}
.desktop-4 .frame-3 {
  background: #F2EECB;
  position: relative;
  display: flex;
  padding: 31px 40.8px 44px 5px;
  box-sizing: border-box;
}
.desktop-4 .frame-2 {
  background: #E3B748;
  position: relative;
  display: flex;
  padding: 45px 40px 46px 41px;
  box-sizing: border-box;
}
.desktop-4 .vector-2 {
  width: 83.3px;
  height: 58.8px;
}
.desktop-4 .frame-6 {
  border: 1px solid #000000;
  background: #E3B748;
  position: absolute;
  left: 16px;
  top: 10px;
  display: flex;
  padding: 18.4px 7.3px 12.8px 7.3px;
  width: 100px;
  height: 92px;
  box-sizing: border-box;
}
.desktop-4 {
  background: #FFFFFF;
  display: flex;
  padding: 71px 83px 94px 90px;
  width: 1440px;
  box-sizing: border-box;
}
