.desktop-11 .pngtree-hand-drawn-deterjen-bubuk-vector-clip-art-cartoon-png-image-4043910-removebg-preview-2 {
  background: url('./assets/images/pngtree_hand_drawn_deterjen_bubuk_vector_clip_art_cartoon_png_image_4043910_removebg_preview_2.png') 50% / cover no-repeat;
  margin-bottom: 15px;
  align-self: flex-start;
  width: 217px;
  height: 207px;
}
.desktop-11 .pngtree-paper-notes-png-image-2464860-removebg-preview-24 {
  background: url('./assets/images/pngtree_paper_notes_png_image_2464860_removebg_preview_22.png') 50% / cover no-repeat;
  align-self: flex-end;
  width: 187px;
  height: 219px;
}
.desktop-11 .container-4 {
  margin: 165px 55px 0 0;
  display: flex;
  flex-direction: column;
  width: 248px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-11 .a-819-f-13305-d-2-dae-1-dc-6-b-89-a-32-da-66-cb-removebg-preview-1 {
  background: url('./assets/images/a_819_f_13305_d_2_dae_1_dc_6_b_89_a_32_da_66_cb_removebg_preview_2.png') 50% / cover no-repeat;
  margin-bottom: 203px;
  align-self: flex-start;
  width: 162px;
  height: 184px;
}
.desktop-11 .pngtree-paper-notes-png-image-2464860-removebg-preview-23 {
  background: url('./assets/images/pngtree_paper_notes_png_image_2464860_removebg_preview_22.png') 50% / cover no-repeat;
  align-self: flex-end;
  width: 187px;
  height: 219px;
}
.desktop-11 .container-2 {
  margin-right: 23px;
  display: flex;
  flex-direction: column;
  width: 255px;
  box-sizing: border-box;
}
.desktop-11 .pngtree-paper-notes-png-image-2464860-removebg-preview-21 {
  background: url('./assets/images/pngtree_paper_notes_png_image_2464860_removebg_preview_22.png') 50% / cover no-repeat;
  margin: 211px 51px 176px 0;
  width: 187px;
  height: 219px;
}
.desktop-11 .score {
  margin-bottom: 545px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
}
.desktop-11 .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.desktop-11 .pngtree-paper-notes-png-image-2464860-removebg-preview-22 {
  background: url('./assets/images/pngtree_paper_notes_png_image_2464860_removebg_preview_22.png') 50% / cover no-repeat;
  position: absolute;
  right: 17.1px;
  bottom: 15px;
  width: 187px;
  height: 219px;
}
.desktop-11 .container-3 {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.desktop-11 .pngtree-garbage-sortir-illustration-png-image-4016541-removebg-preview-3 {
  background: url('./assets/images/pngtree_garbage_sortir_illustration_png_image_4016541_removebg_preview_1.png') 50% / cover no-repeat;
  margin: 70px 175px 0 0;
  width: 263px;
  height: 274px;
}
.desktop-11 .pngtree-hand-drawn-deterjen-bubuk-vector-clip-art-cartoon-png-image-4043910-removebg-preview-1 {
  background: url('./assets/images/pngtree_hand_drawn_deterjen_bubuk_vector_clip_art_cartoon_png_image_4043910_removebg_preview_2.png') 50% / cover no-repeat;
  margin-bottom: 137px;
  width: 217px;
  height: 207px;
}
.desktop-11 .container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: 655px;
  box-sizing: border-box;
}
.desktop-11 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-11 .a-819-f-13305-d-2-dae-1-dc-6-b-89-a-32-da-66-cb-removebg-preview-2 {
  background: url('./assets/images/a_819_f_13305_d_2_dae_1_dc_6_b_89_a_32_da_66_cb_removebg_preview_2.png') 50% / cover no-repeat;
  position: absolute;
  top: 29px;
  right: -38px;
  width: 162px;
  height: 184px;
}
.desktop-11 .frame-10 {
  background: #000000;
  position: relative;
  padding: 60px 139px 0 139px;
  box-sizing: border-box;
}
.desktop-11 {
  background: #FFFFFF;
  width: 1440px;
  box-sizing: border-box;
}
