.desktop-3 .d-34712-bcea-33837239-b-8-b-360071 {
  background: url('./assets/images/d_34712_bcea_33837239_b_8_b_360071.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -3px;
  top: -7px;
  width: 1445px;
  height: 1031px;
}
.desktop-3 .jenis-jenis-sampah-sampah-organik-adalah-sampah-yang-dihasilkan-dari-bahan-bahan-hayati-sampah-ini-dengan-mudah-dapat-diuraikan-melalui-proses-alami-contoh-sampah-organik-misalnya-sampah-dari-dapur-sisa-sisa-makanan-pembungkusselain-kertas-karet-dan-plastik-tepung-sayuran-kulit-buah-daun-dan-ranting {
  position: absolute;
  top: 31px;
  right: -31.6px;
  overflow-wrap: break-word;
  font-family: 'Alatsi';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
}
.desktop-3 .vector {
  width: 72.8px;
  height: 51.9px;
}
.desktop-3 .arrow-left-alt {
  background: #E3B748;
  margin: 107px 0 20px 0;
  display: flex;
  padding: 30px 18.7px;
  width: 112px;
  height: 112px;
  box-sizing: border-box;
}
.desktop-3 .pngtree-organic-garbage-box-mockup-picture-image-77465331 {
  background: url('./assets/images/pngtree_organic_garbage_box_mockup_picture_image_77465331.png') 50% / cover no-repeat;
  width: 265px;
  height: 239px;
}
.desktop-3 .vector-1 {
  transform: rotate(-178.264deg);
  width: 72.9px;
  height: 76.9px;
}
.desktop-3 .container {
  border: 1px solid #000000;
  background: #E3B748;
  position: relative;
  margin: 107px 0 20px 0;
  display: flex;
  padding: 13.1px 0 22px 1.2px;
  width: 122px;
  height: 112px;
  box-sizing: border-box;
}
.desktop-3 .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1002px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-3 .frame-3 {
  background: #F2EECB;
  position: relative;
  display: flex;
  padding: 505px 97px 24px 87px;
  width: 1186px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-3 .frame-2 {
  background: #E3B748;
  position: relative;
  display: flex;
  padding: 45px 40px 46px 41px;
  width: 1267px;
  height: fit-content;
  box-sizing: border-box;
}
.desktop-3 .vector-2 {
  width: 83.3px;
  height: 58.8px;
}
.desktop-3 .frame-5 {
  border: 1px solid #000000;
  background: #E3B748;
  position: absolute;
  left: 14px;
  top: 10px;
  display: flex;
  padding: 18.4px 7.3px 12.8px 7.3px;
  width: 100px;
  height: 92px;
  box-sizing: border-box;
}
.desktop-3 {
  background: #FFFFFF;
  display: flex;
  padding: 71px 83px 94px 90px;
  width: 1440px;
  box-sizing: border-box;
}
